.header {
  h5,
  h6 {
    font-weight: 500;
  }
  h5 {
    margin-bottom: 0;
  }
  h5::after {
    content: "Make. Record. Repeat.";
    font-size: 50%;
    margin-top: 0.5em;
    display: none;
    opacity: 0.7;
  }
  h6 {
    display: flex;
    align-items: center;
  }
}

.header__nav {
  padding: 1.5rem 1.25rem;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: 36px;
    height: 24px;
    svg {
      flex-shrink: 0;
    }
  }
  img {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .header {
    height: 100vh;
    width: 30%;
    position: fixed;
    left: 0;
    top: 0;
  }

  .header__nav {
    padding: 2rem;
    height: 100%;
    border-right: 1px solid var(--borderColor);
    border-bottom: none;
    flex-direction: column;
    // justify-content: flex-start;

    align-items: flex-start;
    img {
      margin-bottom: 0;
    }
    button {
      width: 36px;
      height: 36px;
    }
  }
  .header h5::after {
    display: block;
  }
}

@media (max-width: 450px) {
  .header h5 {
    font-size: 24px;
  }
  .header h6 {
    font-size: 20px;
  }
}
