{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/no-danger": 0,
    "react/state-in-constructor": 0,
    "react/sort-comp": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0
  }
}