@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

body {
  --baseColor: #202020;
  --bgColor: #fff;
  --introBgColor: #f0f0f0;
  --textColor: #464646;
  --lightColor: #a0a0a0;
  --borderColor: #ebebeb;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
  color: var(--baseColor);
  background-color: var(--bgColor);
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  &.isDark {
    --baseColor: #f0f0f0;
    --bgColor: #202020;
    --introBgColor: #393939;
    --textColor: #ccc;
    --lightColor: #888;
    --borderColor: #555;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;
}

a:hover {
  transition: opacity 0.2s ease;
  opacity: 0.5;
  text-decoration-color: inherit;
}
ul {
  list-style: none;
  margin: 0;
}

//TYPOGRAPHY-------------------------------------

h1,
blockquote p,
h2,
h3,
time,
h4,
h5,
h6,
p {
  font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
}

h1,
blockquote p,
h2 {
  font-weight: 500;
}

h1,
.h1,
blockquote p {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.1875;
}

h2,
.h2 {
  font-size: 1.7rem;
  letter-spacing: -0.75px;
  line-height: 1.2;
  margin-bottom: 0;
}

h3,
time {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.1875;
  color: var(--lightColor);
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.5;
  color: var(--textColor);
}

// gatsby-image plugin container-----------------

.gatsby-image-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

@media (min-width: 1280px) {
  h1,
  .h1,
  blockquote p {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.1875;
  }

  h2,
  .h2 {
    font-size: 1.5rem;
    letter-spacing: -0.75px;
    line-height: 1.1667;
  }

  h3,
  time {
    letter-spacing: -0.5px;
    line-height: 1.1875;
    color: var(--lightColor);
    font-weight: normal;
  }

  p {
    line-height: 1.4375;
  }
}
